{% extends 'base.html' %}

{% block title %}
Edit Mata Kuliah
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-8 mx-auto">

        <div class="card shadow">

            <div class="card-header bg-warning">

                <h4 class="mb-0">

                    Edit Mata Kuliah

                </h4>

            </div>

            <div class="card-body">

                <form
                    action="{{ url_for('matakuliah.update_matakuliah', kode=mk.kode) }}"
                    method="POST">

                    <div class="mb-3">

                        <label class="form-label">

                            Kode Mata Kuliah

                        </label>

                        <input
                            type="text"
                            class="form-control"
                            value="{{ mk.kode }}"
                            readonly>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">

                            Nama Mata Kuliah

                        </label>

                        <input
                            type="text"
                            name="nama_mk"
                            class="form-control"
                            value="{{ mk.nama_mk }}"
                            required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">

                            SKS

                        </label>

                        <input
                            type="number"
                            name="sks"
                            class="form-control"
                            value="{{ mk.sks }}"
                            min="1"
                            max="6"
                            required>

                    </div>

                    <hr>

                    <button
                        class="btn btn-success">

                        Update

                    </button>

                    <a
                        href="{{ url_for('matakuliah.matakuliah') }}"
                        class="btn btn-secondary">

                        Kembali

                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}