{% extends 'base.html' %}

{% block title %}
Data KRS
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header custom-card-header">

        <div class="d-flex justify-content-between align-items-center">

            <h4 class="mb-0">

                Data KRS

            </h4>

            <a
                href="{{ url_for('krs.tambah_krs') }}"
                class="btn btn-light">

                Tambah KRS

            </a>

        </div>

    </div>

    <div class="card-body">

        <table class="table table-bordered table-hover">

            <thead class="table-light">

                <tr>

                    <th>ID</th>

                    <th>NIM</th>

                    <th>Mahasiswa</th>

                    <th>Program Studi</th>

                    <th>Kode</th>

                    <th>Mata Kuliah</th>

                    <th>SKS</th>

                    <th width="170">

                        Aksi

                    </th>

                </tr>

            </thead>

            <tbody>

                {% for k in krs %}

                <tr>

                    <td>{{ k.id }}</td>

                    <td>{{ k.nim }}</td>

                    <td>{{ k.nama }}</td>

                    <td>{{ k.nama_prodi }}</td>

                    <td>{{ k.kode }}</td>

                    <td>{{ k.nama_mk }}</td>

                    <td class="text-center">

                        {{ k.sks }}

                    </td>

                    <td>

                        <a
                            href="{{ url_for('krs.edit_krs', id=k.id) }}"
                            class="btn btn-warning btn-sm">

                            Edit

                        </a>

                        <a
                            href="{{ url_for('krs.hapus_krs', id=k.id) }}"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('Hapus data KRS?')">

                            Hapus

                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}