{% extends 'base.html' %}

{% block title %}
Tambah KRS
{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-8 mx-auto">

<div class="card shadow">

<div class="card-header custom-card-header">

<h4 class="mb-0">

Tambah Data KRS

</h4>

</div>

<div class="card-body">

<form
action="{{ url_for('krs.simpan_krs') }}"
method="POST">

<div class="mb-3">

<label class="form-label">

Mahasiswa

</label>

<select
name="nim"
class="form-select"
required>

<option value="">

-- Pilih Mahasiswa --

</option>

{% for m in mahasiswa %}

<option value="{{ m.nim }}">

{{ m.nim }} - {{ m.nama }}

</option>

{% endfor %}

</select>

</div>

<div class="mb-3">

<label class="form-label">

Mata Kuliah

</label>

<select
name="kode"
class="form-select"
required>

<option value="">

-- Pilih Mata Kuliah --

</option>

{% for mk in matakuliah %}

<option value="{{ mk.kode }}">

{{ mk.kode }} -
{{ mk.nama_mk }}
({{ mk.sks }} SKS)

</option>

{% endfor %}

</select>

</div>

<hr>

<button
class="btn btn-primary">

Simpan

</button>

<a
href="{{ url_for('krs.krs') }}"
class="btn btn-secondary">

Kembali

</a>

<button
type="reset"
class="btn btn-warning">

Reset

</button>

</form>

</div>

</div>

</div>

</div>

{% endblock %}